@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins, variabes, etc. */

$light-gray: #777;
$gray-medium-light: #eaeaea;

/* @mixin to zbiór zasad do których przypisaliśmy 
    nazwe 'box_sizing' i by potem przypisać je do 
    określonej części kodu należy na końcu dopisać
    '@include box_sizing' by kod został wykorzystany. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;    
  }
}

/* typhography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color:white;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  color: white;
  text-decoration: none;    
  }
}

#logo:hover {

}

/* footer*/

footer {
 margin-top: 45px;
 padding-top: 5px;
 border-top: 1px solid $gray-medium-light;
 a {
    /* zmienna $gray jest zdefiniowana w samym bootsstrap */
    color: $gray;
    &:hover {
       color: $gray-darker;     
    }
 }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous różności ;) */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
